.add-fallen {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    margin: auto;
    background-color: #f9f9fb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    padding: 20px 10px;
  }
  
  .add-fallen h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .add-fallen form div {
    margin-bottom: 15px;
  }
  
  .add-fallen form label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
  }
  
  .add-fallen form input,textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
    .add-fallen form button {
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #818488;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }

    .add-fallen form button:hover {
    background-color: #3c3f43;
  }
  


  