.quete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(130, 156, 171, 0.5);;
  padding: 30px;
  border: 2px solid #cccccc;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

h2 {
  font-family: 'Georgia', serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #2e2e51;
  margin-bottom: 10px;
}

.quote-text {
  font-size: 1.3rem;
  font-style: italic;
  color: #555;
  text-align: center;
  margin: 0;
}
