nav{
    background-color:#1a1a1a;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    box-shadow: 0 2px 4px black;
    gap: 30px;
}

nav .nav-button{
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
    padding: 100px;
}