*{
  z-index: 1;

}

.search-container {
  display: flex;
  align-items: stretch;
  gap: 10px;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
}

.search-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  width: 400px;
}

.search-container button {
  padding: 10px;
  background-color: #243447;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.search-button:hover {
  background-color: #7a7b7b;
}
